
<configuration>
    <website name="google_recaptcha_demo">
        <сookiesGenerator config-class="com.mugoft.CookiesExtractorSeleniumChrome">
            <config-constrarg config-value="C:\chromedriver_win32\chromedriver.exe" config-type="java.lang.String"/>
            <config-constrarg config-value="https%3A%2F%2Fwww.google.com%2Frecaptcha%2Fapi2%2Fdemo" config-type="java.lang.String"/>
        </сookiesGenerator>

        <outputProvider config-class="com.mugoft.storageproviders.FileSystemStorageProvider">
                <config-constrarg config-value="C:\Project\cookies\google_recaptcha_demo\cookies.json" config-type="java.lang.String"/>
        </outputProvider>
    </website>
    <website name="wikipedia">
        <сookiesGenerator config-class="com.mugoft.CookiesExtractorSeleniumChrome">
            <config-constrarg config-value="C:\chromedriver_win32\chromedriver.exe"/>
            <config-constrarg config-value="https%3A%2F%2Fwww.wikipedia.org%2F"/>
        </сookiesGenerator>
        <outputProvider config-class="com.mugoft.storageproviders.FileSystemStorageProvider">
            <config-constrarg config-value="C:\Project\cookies\wikipedia\cookies.json"/>
        </outputProvider>
    </website>
</configuration>