
<configuration>
    <website name="google_recaptcha_demo_selenium">
        <сookiesGenerator config-class="com.mugoft.extractors.CookiesExtractorSelenium">
            <config-constrarg config-value="CHROME"/>
            <config-constrarg config-value="C:\chromedriver_win32\chromedriver.exe"/>
            <config-constrarg config-value="https%3A%2F%2Fwww.google.com%2Frecaptcha%2Fapi2%2Fdemo"/>
        </сookiesGenerator>

        <outputProvider config-class="com.mugoft.storageproviders.FileSystemStorageProvider">
                <config-constrarg config-value="C:\Project\cookies\google_recaptcha_demo_selenium\cookies.json"/>
        </outputProvider>
    </website>
    <website name="wikipedia_selenium">
        <сookiesGenerator config-class="com.mugoft.extractors.CookiesExtractorSelenium">
            <config-constrarg config-value="CHROME"/>
            <config-constrarg config-value="C:\chromedriver_win32\chromedriver.exe"/>
            <config-constrarg config-value="https%3A%2F%2Fwww.wikipedia.org%2F"/>
        </сookiesGenerator>
        <outputProvider config-class="com.mugoft.storageproviders.FileSystemStorageProvider">
            <config-constrarg config-value="C:\Project\cookies\wikipedia_selenium\cookies.json"/>
        </outputProvider>
    </website>
    <website name="wikipedia_mainpage_singlerequest">
        <сookiesGenerator config-class="com.mugoft.extractors.CookiesExtractorSingleRequest">
            <config-constrarg config-value="https%3A%2F%2Fwww.wikipedia.org%2F"/>
        </сookiesGenerator>
        <outputProvider config-class="com.mugoft.storageproviders.FileSystemStorageProvider">
            <config-constrarg config-value="C:\Project\cookies\wikipedia_mainpage_singlerequest\cookies.json"/>
        </outputProvider>
    </website>
    <website name="wikipedia_mainpage_singlerequest_s3">
        <сookiesGenerator config-class="com.mugoft.extractors.CookiesExtractorSingleRequest">
            <config-constrarg config-value="https%3A%2F%2Fwww.wikipedia.org%2F"/>
        </сookiesGenerator>
        <outputProvider config-class="com.mugoft.storageproviders.S3BucketStorageProvider">
            <config-constrarg config-value="cookies/wikipedia_mainpage_singlerequest_s3/cookies.json"/>
        </outputProvider>
    </website>
    <website name="wikipedia_local">
        <сookiesGenerator config-class="com.mugoft.extractors.CookiesExtractorLocalChrome">
            <config-constrarg config-value="wikipedia.org"/>
            <config-constrarg config-value="C:\Users\mugoft\AppData\Local\Google\Chrome\User Data\Default\Cookies"/> <!-- For path to cookies file check https://chromium.googlesource.com/chromium/src/+/master/docs/user_data_dir.md -->
        </сookiesGenerator>
        <outputProvider config-class="com.mugoft.storageproviders.FileSystemStorageProvider">
            <config-constrarg config-value="C:\Project\cookies\wikipedia_local\cookies.json"/>
        </outputProvider>
    </website>
</configuration>